<mat-toolbar color="accent">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-button>
      <mat-icon>home</mat-icon>
      <span class="logo"> Gestion des documents</span>
      </button>
      <div *ngIf="!devicesXs">
        <button mat-button>home</button>
        <button mat-button>Contact us</button>
        <button mat-button>About us</button>
      </div>
    </div>
    <div>
      <button mat-icon-button>
      <mat-icon *ngIf="devicesXs">more_vert</mat-icon>
        <span *ngIf="!devicesXs">Menu</span>
      </button>
    </div>

  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="devicesXs" fxLayoutAlign="space-between end">
    <button mat-button>home</button>
    <button mat-button>Contact us</button>
    <button mat-button>About us</button>
  </mat-toolbar-row>
</mat-toolbar>

