.container-fluid{
  position: relative;
  top: 45px;
  //width: 800px;
}
.mat-table {
  width: 100%;

}
.card{
  height: 0rem;
}
p{
  position: relative;
  top:150px;
  color: #000000;
  text-align: center;
  font-size: 10.5px;
}
th {
  font-size: 14px;
}
.card-title{
  font-size: 16px;
  padding:7px;
}
mat-icon
{
  position: relative;
  top:5px;
  color:#d50000;
}
.download{
  top: 100px;
  color: #000000;
  background-color: #dddddd;
}
