<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-6">
      <div class="ges"></div>

    <div class="gestion">
      <h1>ParKerBase</h1>
      <h3>
        Gestion Electronique de Documents
      </h3>

      <p>- Gestion du cycle de vie des documents.<br>
        - Assure la sécurité et confidentialité des documents.<br>
        - Indexation à partir de tags descriptifs.<br>
        - Recherche plein textes sur le contenu des documents archivés.<br>
        - Visionnage de documents.<br>
        - Tableau de Bord, Statistiques et Reportings.
      </p>
    </div>


    </div>
    <div class="col-md-6" fxLayout="row" fxLayoutAlign="space-around center">
      <div class="card" style="text-align: center;" >
          <div class="card-header">
            <mat-card-title>Connexion</mat-card-title>
          </div>
          <div class="card-body">
            <form [formGroup]="managerForm"  (ngSubmit)="onSubmit()" novalidate *ngIf="managerForm">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Login" formControlName="email">
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password">
              </div>
              <div class="d-flex justify-content-center  login_container">
                  <button type="submit" name="button" class="btn login_btn">Se connecter</button>
              </div>
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              <div *ngIf="error" class="btn login_btn">{{error}}</div>
            </form>
          </div>
        </div>

    </div>

</div>

</div>


</body>
<div class="footer">
  <app-footer></app-footer>
</div>
</html>

