body{
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(src/assets/img/CoverPage.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;

}

.ges{
  position: relative;
  top: 115px;
  left: 100px;
  background-color: #000000;
  padding: 50px;
  height: 370px;
  opacity: 0.8;
}
.card{
  position: relative;
  top: 10px;
  left:25px;
  height: 290px;
  width: 400px;
  margin-top: 40vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-40%); /* tiré de la moitié de sa propre hauteur */
  border-radius: 5px;
}
.card-header
{
  color: #000000;
}
.input-group-prepend span{
  width: 50px;
  background-color: #d50000;
  color: white;
  border:0 !important;
}
input:focus{
  border-color: #d50000 !important;
  box-shadow: 0 0 5px #d50000 !important;

}
.footerhome
{
  font-size: 12px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom:0;
  color: #000000;
}
.login_btn {
  background-color: #d50000;
  width: 350px;

}
.login_container {
  padding: 0 3rem;
}

h1{
  position: absolute;
  top:160px;
  left: 280px;
  color: #FFFFFF;
  font-size: 60px;
  font-family: "Times New Roman", sans-serif;
  font-weight: bold;
}
h3{
  position: absolute;
  top:210px;
  left: 235px;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
h5{
  position: absolute;
  top:260px;
  left: 180px;
  line-height: 2;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
