<div class="container">
  <h3 class="card-title">Archivage de documents </h3>
  <br>
  <div>
<div class="col-md-12">
  <form [formGroup]="docForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Tags" formControlName="description" type="text"/>
    </mat-form-field>
    <mat-form-field style="position: relative; top:20px;" class="example-full-width" appearance="fill">
        <mat-label >Selectionez un dossier</mat-label>
        <mat-select formControlName="libelle"  (selectionChange)="greetDossier($event)">
          <mat-option *ngFor="let d of dossiers" [value]="d.id">
            {{d.libelle}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <br>
    <div *ngIf="currentFile" class="progress">
      <div
        class="progress-bar progress-bar-info progress-bar-striped"
        role="progressbar"
        attr.aria-valuenow="{{ progress }}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: progress + '%' }">
        {{ progress }}%
      </div>
    </div>

    <label class="btn btn-default label_file">
      <input type="file" #fileUpload id="fileUpload" name="fileUpload" class="file" (change)="selectFile($event)"/>
    </label><br>
    <input type="submit" value="Archiver" class="bouton rounded"  [disabled]="!selectedFiles">
    <div class="alert alert-light" role="alert">{{ message }}</div>
  </form>
  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
</div>
</div>
</div>
