.container{
  background-color: black;
}
ul{
  color: #FFFFFF;
}
nav-items{
  background-color: #FFFFFF;
}
.logo{
  color: #FFFFFF;
  text-align: center;
}
h1{
  color: #FFFFFF;
  font-size: 30px;
  font-family: "Times New Roman", sans-serif;
  font-weight: bold;
}
p{
  color: #FFFFFF;
}
.material-icons{
  color: #FFFFFF !important;
}
