 <div class="container-fluid">
   <div class="col-md-12">
     <div class="card">
     <div class="card-header card-header-danger">
            <h4 class="card-title">Gestion de Documents</h4>
     </div>

          <div class="flexbox-container">
            <div>
              <app-edit-document></app-edit-document>
            </div>
            <hr/>
            <div>
              <app-list-document></app-list-document>
            </div>
          </div>
       <p>
         &copy; Copyright 2020 - {{test | date: 'yyyy'}} <span> ParKerBase. </span> Tous droits reservés. <a>Powered by Infinity Media Technology.</a>
       </p>
   </div>


  </div>


 </div>





