<div class="container">
  <a class="btn btn-large btn-success" href="{{url}}">{{url}}</a>
  <div class="">
            <h4 class="card-title">Recherche de documents </h4>
          </div>
          <div class="">
            <div>
              <div>
                <div class="listes">
                  <div class="item">
                      <div>
                        <div class="">
                          <div class="recherche_p rounded-pill">
                            <form class="form-inline my-2 my-lg-0">
                              <div class="recherche-barr ">
                                <input class="recherche-input " type="search" placeholder="Recherche" aria-label="Search" #searchbox (keyup)="search(searchbox.value)">
                              </div>
                            </form>
                          </div>
                         <!-- <div class="">
                              <button mat-raised-button type="submit"  class="valid">Rechercher</button>
                            </div>-->
                          <div>
                              <div *ngFor="let doc of oInfoDoc | async" class="list-group">

                                <a class="list-group-item  clearfix">
                                  <div class="pull-left">
                                    <h5 style="color: #191919">{{doc.nomDoc}}</h5>
                                    <h5 style="color: #191919">{{doc.pathImage}}</h5>
                                  </div>
                                </a>
                                <div class="row">
                                  <div class="col-md-4">
                                    <button  mat-button  (click)="onImages(doc.nomDoc)">Télécharger</button>
                                  </div>
                                  <div class="col-md-4">
                                    <button  mat-button (click)="modifier(doc.nomDoc)">Modiier</button>
                                  </div>
                                  <div class="col-md-4">
                                    <button  mat-button  (click)="supprimer(doc.nomDoc)">Supprimer</button>
                                  </div>
                                </div>
                                <mat-divider></mat-divider>
                                <br>
                              </div>
                            </div>

                        </div>
                      </div>
                      <div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

